/*	València Smart City	· Web Oficina Ciutat Intel·ligent === 2021-08-12 v.1 === */

/*****************************************************************************************************
	modificaciones admin para facilitar el trabajo
******************************************************************************************************/
body.has-control-menu #wrapper .container-fluid-1280 {
	width: 80%;
}

body.has-control-menu yui3-skin-sam signed-in public-page site #wrapper section.portlet header.portlet-topper {
	opacity: 1;
	transform: translateY(-97%);
}


body.has-control-menu #wrapper section.portlet header.portlet-topper .portlet-topper-toolbar {
	display: block;
}

body.has-control-menu header section.portlet:hover > .portlet-topper,
body.has-control-menu header section.portlet.focus > .portlet-topper {
	opacity: 0;
	display: none;
}

body:not(.has-control-menu) .alert.alert-info {
	display: none!important;
}
.portlet-boundary,
section.portlet {
	height: auto;
	display: block;
	clear: both;
}
/*****************************************************************************************************
	overrides plantilla ayto
******************************************************************************************************/

body {
	overflow-x: hidden;
}
.valencia-layout > .container {
	max-width: none;
}
.col-1, .col-xs-1, .col-2, .col-xs-2, .col-3, .col-xs-3, .col-4, .col-xs-4, .col-5, .col-xs-5, .col-6, .col-xs-6, .col-7, .col-xs-7, .col-8, .col-xs-8, .col-9, .col-xs-9, .col-10, .col-xs-10, .col-11, .col-xs-11, .col-12, .col-xs-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

section#content {
  padding-bottom: 0;
}

#footer-enlaces li {
    float: none;
}

.title-page-image .label-subtitle #tit3 {display: none;}

/*****************************************************************************************************
	estilos generales > fuentes
******************************************************************************************************/

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat'), local('Montserrat'), url(https://wwwpre.valencia.es/documents/12306043/12914099/Montserrat-Regular.ttf/dc0c5ce6-4b9d-4d7e-511f-13744b95020b?t=1628666936259) format('truetype');
}
@font-face {
	font-family: 'Montserrat SemiBold';
	font-style: normal;
	font-weight: 700;
	src: local('Montserrat SemiBold'), local('Montserrat SemiBold'), url(https://wwwpre.valencia.es/documents/12306043/12914099/Montserrat-SemiBold.ttf/ab064f98-2179-ed3a-0e9d-bcac62b56610?t=1628666936358) format('truetype');
}
@font-face {
	font-family: 'Montserrat Bold';
	font-style: normal;
	font-weight: 500;
	src: local('Montserrat Bold'), local('Montserrat Bold'), url(https://wwwpre.valencia.es/documents/12306043/12914099/Montserrat-Bold.ttf/d20c94fc-0386-ca3a-771a-8f8835f6c2c6?t=1628666936103) format('truetype');
}
@font-face {
	font-family: 'Montserrat Black';
	font-style: normal;
	font-weight: 900;
	src: local('Montserrat Black'), local('Montserrat Black'), url(https://wwwpre.valencia.es/documents/12306043/12914099/Montserrat-Black.ttf/dd515957-6fb2-e158-21f1-d0816e3eeae5?t=1628666936467) format('truetype');
}

/*****************************************************************************************************
	estilos generales
******************************************************************************************************/
.journal-content-article dt.text-capitalize {
	display: none;
}

.portlet-journal-content .portlet {
 margin: 0;
	margin-bottom: -25px;
}



/*****************************************************************************************************
	elementos > h2
******************************************************************************************************/
h2.portlet-title-text {
	font-family: 'Montserrat Black', 'Calibri', Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1% 10%;
	color: #ffd040;
	font-size: 2rem;
	font-weight: 900;
}

/*****************************************************************************************************
	elementos > botones
******************************************************************************************************/
a.btn {
    color: #000;
	font-weight: 600;
    position: relative;
    top: 0;
    opacity: 1;
    line-height: 20px;
	text-transform: uppercase;
	font-size: 12px;
    padding: 8px 14px;
	border: 2px solid #ffcd00;
	border-radius: 4px;
	background-color: #ffcd00;
	margin: 0 15%;
    display: block;
    text-align: center;	
	text-decoration: none;
	
	transition: opacity 1.5s ease;
	-moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	-webkit-transition: all 1.5s ease;
}

a.btn:hover {
    color: #ffcd00;
	background-color: #333;
}

/*************************************************************************************************************************************
	Cabecera de pagina > Imagen
**************************************************************************************************************************************/
section.cabecera-pagina .background-image {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('https://wwwpre.valencia.es/documents/12306043/12905111/informacion-edificios_2.jpg/54734a95-4510-47e2-ab31-808b05799f45?t=1627641339139')!important;
}
/*************************************************************************************************************************************
	## Peu > Smart City
**************************************************************************************************************************************/

footer .redpuntoes p {
	font-size: 80%;
}

footer .redpuntoes p a {
	font-size: 100%;
}

footer .redpuntoes {
	margin: 40px auto;
	width: 90%;
}

footer .redpuntoes ul {
	padding: 0;
	list-style-type: none;
	margin: 0 auto;
	width: auto;
}

footer .redpuntoes ul li {
	width: 100%;
	/*! border: 1px solid blue; */
	height: auto;
	margin-right: 0;
}

footer .redpuntoes ul li:before,
footer .redpuntoes ul li:after,
footer .redpuntoes ul li a {
	display: block;
	height: 80px;
	color: transparent;
	background-size: auto 95%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-bottom: 40px;
}

footer .redpuntoes ul li a:hover {
	
}

footer .redpuntoes ul li[title^="Gobierno"] a {	
	background-image: url(https://wwwpre.valencia.es/documents/12306043/12903822/ministerio.jpg/6d7110a2-d29f-b819-0be9-cbe89af98ed0?t=1627473490823);
	background-size: 100% auto;
}


footer .redpuntoes ul li[title^="Red"] a {	
	background-image: url(https://wwwpre.valencia.es/documents/12306043/12903822/red-es.svg/232577a4-e1bc-e790-e7e4-0a5d62c2c81d?t=1627473490651);
}

footer .redpuntoes ul li[title^="Ciudades"] a {	
	background-image: url(https://wwwpre.valencia.es/documents/12306043/12903822/ciudades-inteligentes.svg/f0055c4f-4036-d50e-e31c-8fa4d73d71db?t=1627473490885);
}

footer .redpuntoes ul li[title^="Ajuntament"] a {	
	background-image: url(https://wwwpre.valencia.es/documents/12306043/12903822/Ajuntament-de-Valencia.svg/9a6d821a-46b5-ed2d-da10-648d7cb2d8ed?t=1627473490487);
	background-size: 100% auto;
}

footer .redpuntoes ul li[title^="Smart"] a {	
	background-image: url(https://wwwpre.valencia.es/documents/12306043/12903822/Smart-City-Valencia+%281%29.svg/f41baa10-3d62-3f45-cf47-2ef3d153c29a?t=1627474190086);
}

footer .redpuntoes ul li[title^="European"] a {	
	background-image: url(https://wwwpre.valencia.es/documents/12306043/12903822/unio-europea.svg/806b8676-5453-86c5-a9f8-1e8ac4af5388?t=1627473490555);
}

/* footer ayuntamiento customizado */
.portlet-journal-content .journal-content-article img.img-footer.smartcity {
	max-height: 70px;
	margin: 28px auto;
}

/*************************************************************************************************************************************
	Peu > Xarxes
**************************************************************************************************************************************/

footer ul#menu-xarxes {
	text-align: center;
	margin: 1em auto;	
}

footer ul#menu-xarxes li {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 90%;
	opacity: 0.6;
}

footer ul#menu-xarxes li:hover {
	opacity: 1;
}

footer ul#menu-xarxes li.twitter {
	background-image: url('https://wwwpre.valencia.es/documents/12142848/0/twitter_SmartCityValencia.svg/60e8a359-42bf-78a7-f0fc-dfc6e97e16e6?t=1622620410709');
}

footer ul#menu-xarxes li.instagram {
	background-image: url('https://wwwpre.valencia.es/documents/12142848/0/instagram_SmartCityValencia.svg/697f1c91-5766-ae38-0b12-890523c85539?t=1622620410527');
}

footer ul#menu-xarxes li.facebook {
	background-image: url('https://wwwpre.valencia.es/documents/12142848/0/facebook_SmartCityValencia.svg/8134e5a8-15e8-f8cd-b6e9-f83726113284?t=1622620410459');
}

footer ul#menu-xarxes li.linkedin {
	background-image: url('https://wwwpre.valencia.es/documents/12142848/0/linkedin_SmartCityValencia.svg/d87fb78e-9d66-0202-1f51-6f818ede46f3?t=1622620410618');
}

footer ul#menu-xarxes li.youtube {
	background-image: url('https://wwwpre.valencia.es/documents/12142848/0/youtube_SmartCityValencia.svg/3410f22c-d226-ba52-fbaa-2a886eea9574?t=1622620410886');
}

footer ul#menu-xarxes li a {
	color: transparent;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
}


/*****************************************************************************************************
======================================================================================================
	Página Inicio (Valencia ciudad Inteligente)
======================================================================================================
******************************************************************************************************/

/*****************************************************************************************************
	Cabecera submenu
******************************************************************************************************/

/* submenu */
.portlet-navigation section#portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_c2WDtfFKJ9QY,
.portlet-journal-content section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-image: url('https://wwwpre.valencia.es/documents/12306043/12905111/informacion-edificios_2.jpg/54734a95-4510-47e2-ab31-808b05799f45?t=1627641339139');

}


/*****************************************************************************************************
	Logros (milestones)
******************************************************************************************************/
section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c {
	height: auto;
	padding-bottom: 50px;
	margin-top: -10px;
}

section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd > p {
	display: none;
}

section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros {
	padding-top: 10%;
}

section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 {
	color: #fff;
	font-size: 1rem;
	text-align: center;
	text-shadow: 3px 3px 8px #000;
	
	display: block;
	margin: 40px 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span {
	display: block;
}

section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.counter-value {
	font-size: 5rem;
	line-height: 5rem;
}


section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.counter-value:before,
section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.counter-value:after {
	display: inline-block;
	font-size: 3rem;
	line-height: 5rem;
}


section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.counter-value.porcentaje:after {
	content:'%';
	margin-left: 10px;
}

section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.counter-value.mayor-que:before {
	content:'>';
	margin-right: 10px;
}

section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.counter-value.st:after {
	content:'a';
	margin-left: 10px;
	top: -0.5em;
	position: relative;
}


html[lang="ca-ES"] section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.counter-value.st:after {
	top: 0em;
	position: relative;
}

section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.frontcount2:nth-child(1):nth-last-child(4) {
	height: 50px;
}

section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.counter-value:nth-child(1):nth-last-child(3),
section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.counter-value:nth-child(2):nth-last-child(2) {
	margin-top: 50px;
}
section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 span.symbol {
	display: none;
}



/*****************************************************************************************************
	Call to Action > Comocer la Oficina de Ciudad Inteligente
******************************************************************************************************/
.cta {
  	padding: 3% 0;
  	margin: 0 auto;
	width: 90%;
}

.cta p {
  	text-align: center;
}

.cta button {
  	margin: 0 auto;
  	text-transform: uppercase;
	text-align: center;
	border: 2px solid #ffcd00;
	border-radius: 5px;
  	background-color: #ffcd00;
	padding: 0 4%;
	height: 40px;
	line-height: 40px;
	color: #000;
	text-decoration: none;
	display: block;
	font-size: 80%;
}

.cta button:hover,
.cta button:focus {
  	background-color: transparent;
}

	
/*****************************************************************************************************
	Inicio > Redes sociales
******************************************************************************************************/
.redes-sociales {
	height: auto;
	margin: 50px 0;
}

.redes-sociales .twitter a,
.redes-sociales .facebook a,
.redes-sociales .instagram a {
  	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 25px;
	background-image: url('https://wwwpre.valencia.es/documents/12306043/0/Smart-City_carregant.gif/0ff75131-90ef-58ea-7002-39fe0b3bde52?t=1627972280936');
	color: transparent;
	height: 500px;
	display: block;
}

.redes-sociales .twitter iframe {
	min-height: 500px!important;
}

.redes-sociales #fb-root {display: none;}

/*****************************************************************************************************
	Bosquejos
******************************************************************************************************/

/* noticias */
.noticias,
.proyectos,
.formulario {
  	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 100%;
	padding: 3% 0;
	margin: 60px auto;
}


/* noticias */
.noticias {
	background-image: url('https://wwwpre.valencia.es/documents/12306043/12906622/bosquejo-movil-noticias-home.jpg/269c7636-2da4-a861-fea8-8da3d16421a6?t=1627977801480');
	height: 1500px;
}
  
/* proyectos */
.proyectos {
	background-image: url('https://wwwpre.valencia.es/documents/12306043/12906622/bosquejo-proyectos-home.jpg/1135b4fd-cc1c-0d29-020e-9e91885ab29c?t=1627900483940');
	height: 1500px;
	margin-bottom: 100px;
}
  
/* formulario */
.formulario {
	background-image: url('https://wwwpre.valencia.es/documents/12306043/12906622/bosquejo-movil-formulario-home.jpg/ba2af374-7f9c-f9e3-0ebb-e5528783bdef?t=1627977801367');
	height: 760px;
}


/*****************************************************************************************************
	Recursos
******************************************************************************************************/
body.recursos {
	display: block;
	clear: both;
	height: auto;
}

body.recursos .recursos #ulRecursos {
	list-style: none;
	display: block;
	margin: 0 auto;
	text-align: center;
	min-width: 0;
}

body.recursos .recursos ul li {
	width: auto;
	height: auto;
	float: left;
	margin: 0 0 1% 0;
}


body.recursos .recursos ul li .journal-content-article div {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	
}

body.recursos .recursos ul li {
}

body.recursos .recursos ul li:last-of-type {
	margin-right: 0;
}

body.recursos .recursos ul li > div {
	height: auto;
}

body.recursos .recursos ul li .journal-content-article > div {
	margin: 0;
	display: block;
	text-align: center;
	overflow: hidden;
	position: relative;
	
	
	display: inline-block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 10px 1rem 10px;
	border: 1px solid #eee;
	border-radius: 5px;
	text-align: center;
	box-shadow: 3px 3px 8px #ccc;
}

body.recursos .recursos ul li h3 {
	font-family: Montserrat-SemiBold, sans-serif;
	margin: 0;
	padding: 20px 10px 20px 70px;
	height: auto;
	display: block;
	text-transform: none;
	font-size: 0.8rem;
	line-height: 130%;
	text-align: left;
	min-height: 70px;
	
	background-repeat: no-repeat;
	background-position: 20px center;
	background-size: auto 40px;
	background-image: url('https://wwwpre.valencia.es/documents/12306043/12914794/calendario.svg/fa51baae-857a-da93-3a89-81800ed83423?t=1628684340763');
}


body.recursos .recursos ul li .url h3 {
	/*background-image: url('____');*/
}

body.recursos .recursos ul li .calendario h3 {
	background-image: url('https://wwwpre.valencia.es/documents/12306043/12914794/calendario.svg/fa51baae-857a-da93-3a89-81800ed83423?t=1628684340763');
}

body.recursos .recursos ul li .video h3 {
	/*background-image: url('____');*/
}

body.recursos .recursos ul li .pdf h3 {
	/*background-image: url('____');*/
}

body.recursos .recursos ul li h3 {
	/*background-image: url('____');*/
}

body.recursos .recursos ul li .documento h3 {
	/*background-image: url('____');*/
}

body.recursos .recursos ul li .articulo h3 {
	/*background-image: url('____');*/
}

body.recursos .recursos ul li .prensa h3 {
	/*background-image: url('____');*/
}


body.recursos .recursos ul li p {
	padding: 0 10px 0 15px;
	margin: 0;
	font-size: 0.7em;
	color: #333;
	text-align: left;
	line-height: 140%;
}

body.recursos .recursos ul li p a {
	padding: 0 0 1px 0;
	margin: 0;
	font-size: 100%;
	height: 100%;
	text-decoration: none;
	font-weight: 600;
	border-bottom: 2px solid #ffcd00;
	color: #666;
}

body.recursos .recursos ul li p a:hover {
	color: #000;
}

body.recursos .recursos #ulRecursos a.btn {
	margin: 20px 15%;
	display: inlne;
	vertical-align: text-bottom;
}

body.recursos .recursos #ulRecursos a:nth-child(2):last-child {
	margin: 65px 15% 20px 15%;
}


/* documentacion administrativa */
body.recursos .recursos ul li:nth-child(1):nth-last-child(7) .journal-content-article .documentacion-administrativa {
	/*margin-left: 50%;*/
	margin-left: 160px;
}

body.recursos .recursos ul li:nth-child(4):nth-last-child(4) .journal-content-article .documentacion-administrativa {
	/*display: block;*/
	margin-left: 10px;
}

/* videos */
body.recursos .recursos ul li .journal-content-article .video .video-player:before {
	display: block;
	content:'';
	z-index: 1;
	background-color: #ffcd00;
	outline: 15px solid rgba(255,255,0,0.3);
	border-radius: 50%;
	height: 60px;
	width: 60px;
	position: absolute;
	z-index: 2;
	/*top: 40%;
	left: 40%;*/
	margin: 20% 44%;
	transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	-webkit-transition: all 1.5s ease;
	box-sizing: content-box;
	pointer-events: none;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 100%;
	background-image: url('https://wwwpre.valencia.es/documents/12306043/12914794/play.svg/3abaf2ee-5441-eec4-0d05-9a71171bcc5c?t=1628678488101');
	
}

body.recursos .recursos ul li .journal-content-article .video .video-player:hover:before {
	outline: 30px solid rgba(255,255,0,0.4);
}

body.recursos .recursos ul li .journal-content-article .video .video-player {
	height: 180px;
	width: 100%;
	height: 220px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: block;
	overflow: hidden;
	background-color: transparent;
}

body.recursos .recursos ul li .journal-content-article .video .video-player button {
	/*height: 180px;*/
	margin: 0 auto;
	padding: 0;
	height: 220px; 
	width: 320px;
	display: block;
	overflow: hidden;
	border: 1px solid transparent;
	background-color: transparent;
}

body.recursos .recursos ul li .journal-content-article .video .video-player button img {
    display: block;
    width: 98%;
    height: auto;
    margin: 0 auto;
	   position: relative;
	z-index: -1;
   /* transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;*/
}

@media screen and ( min-width: 640px ) {
	body.recursos .recursos ul li .journal-content-article div {
		width: 49%;
		height: 200px;
	}
}

@media screen and ( min-width: 920px ) {
	body.recursos .recursos #ulRecursos {
		width: 930px;
	}
	
	body.recursos .recursos ul li .journal-content-article div {
		width: 230px;
		min-height: 200px;
	}
	
	body.recursos .recursos ul li .journal-content-article div.video {
		width: 310px;
		min-height: 350px;
	}
}

@media screen and ( min-width: 1270px ) {
	body.recursos .recursos #ulRecursos {
		width: 1140px;
	}
	
	body.recursos .recursos ul li .journal-content-article div {
		width: 264px;
		min-height: 200px;
	}
	
	body.recursos .recursos ul li .journal-content-article div.video {
		width: 32%;
		width: 310px;
		width: 370px;
	}
	
}



/*****************************************************************************************************
	Inicio > Proyectos
******************************************************************************************************/

/*****************************************************************************************************
	Inicio > Proyectos
******************************************************************************************************/


/*****************************************************************************************************
======================================================================================================
------------------------------------------------------------------------------------------------------
	media queries
------------------------------------------------------------------------------------------------------
======================================================================================================
******************************************************************************************************/

/*****************************************************************************************************
	+ 992px
******************************************************************************************************/
@media screen and ( min-width: 992px ) {
	
	/*****************************************************************************************************
		Cabecera submenu
	******************************************************************************************************/
	/* ocultar título del menú (porque están los milestones) */
	.portlet-navigation section#portlet_com_liferay_site_navigation_menu_web_portlet_SiteNavigationMenuPortlet_INSTANCE_c2WDtfFKJ9QY .title-page-image {
		display: none;
	}
	

	/*****************************************************************************************************
		Logros (milestones)
	******************************************************************************************************/
	section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c {
		height: 400px;
		position: relative;
		z-index: 5;
		
		/* colocar por encima del menú */
		top: -550px;
		padding: 0;
		margin: 0 0 -400px 0;
	}

	section#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_U5UCzK2WCf8c dl dd #logros h2 {
		margin: 0;
	}

	/*****************************************************************************************************
		Call to Action > Comocer la Oficina de Ciudad Inteligente
	******************************************************************************************************/
	.cta {
		width: 100%;
	}
	
	/*****************************************************************************************************
		Redes sociales
	******************************************************************************************************/
	.redes-sociales {
		height: 520px;
		margin: 50px 0;
	}

	.redes-sociales .facebook .fb_iframe_widget {
		margin: 0 20px;
	}
	
	/*************************************************************************************************************************************
		## Peu > Smart City > Xarxes
	**************************************************************************************************************************************/

	footer .redpuntoes {
		margin: 2% auto 8% -14%;
		width: 128%;
	}
	
	footer .redpuntoes ul li {
		width: auto;
		float: left;
		height: 100%;
	}
	footer .redpuntoes ul li[title^="Gobierno"] {	
		width: 28.7%;
	}

	footer .redpuntoes ul li[title^="Red"] {	
		width: 15.9%;
	}
	footer .redpuntoes ul li[title^="Ciudades"] {	
		width: 12.7%;
	}
	footer .redpuntoes ul li[title^="Ajuntament"] {	
		width: 17%;
	}
	footer .redpuntoes ul li[title^="Smart"] {	
		width: 16.84%;
	}
	footer .redpuntoes ul li[title^="European"] {	
		width: 6.9%;
	}

	footer .redpuntoes ul li a {	
		margin: 0;
	}

	footer .redpuntoes ul li[title^="Red"] a {	
		background-size: 85% auto;
	}

	footer .redpuntoes ul li[title^="Ajuntament"] a {	
		background-size: auto 85px;
		background-position: 100% 50%;
	}

	footer .redpuntoes ul li[title^="Smart"] a {	
		background-size: auto 50px;
		background-position: 0 50%;
	}
	
	footer .redpuntoes ul li[title^="Ajuntament"]:before,
	footer .redpuntoes ul li[title^="Smart"]:after {
		content:'';
		width: 30px;
		position: relative;
		top: 0; 
		background-size: 10px auto ;
	}
	footer .redpuntoes ul li[title^="Ajuntament"]:before {
		margin-bottom: -80px;
	}

	footer .redpuntoes ul li[title^="Smart"]:after {
		margin-top: -80px;
		float: right;
	}
	footer .redpuntoes ul li[title^="Ajuntament"]:before {	
		background-image: url(https://wwwpre.valencia.es/documents/12306043/12903822/parentesis-tanca.svg/c36e4a15-6346-ed73-70b4-54941bbcab5e?t=1627473490697);
		background-position: 100% 50%;
	}

	footer .redpuntoes ul li[title^="Smart"]:after {	
		background-image: url(https://wwwpre.valencia.es/documents/12306043/12903822/parentesis-obri.svg/529950f7-18e9-bad4-3dce-04f61e6474eb?t=1627473490760);	
		background-position: 0 50%;
	}
	
	/*****************************************************************************************************
		Bosquejos
	******************************************************************************************************/

	/* noticias */
	.noticias {
		background-image: url('https://wwwpre.valencia.es/documents/12306043/12906622/bosquejo-noticias-home.jpg/473dd545-ecf2-7a9c-71b5-3482896831f3?t=1627900483521');
		height: 826px;
	}
	  
	/* formulario */
	.formulario {
		background-position: 47.5% 50%;
		background-image: url('https://wwwpre.valencia.es/documents/12306043/12906622/bosquejo-formulario-home.jpg/e389f015-84cd-0c3f-4407-b32e47f1a482?t=1627900483073');
		height: 414px;
	}


}